@model Category

<form method="post">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">create category</h2>
            <hr /><hr />
        </div>
        <div asp-validation-summary="All"></div>
        <div class="mb-3">
            <label asp-for="Name"></label> <!--Display name of th1-->
            <input asp-for="Name" class="form-control" /> <!--the input field for name column-->
            <span asp-validation-for="Name" class="text-danger"></span> <!--display error message related to name column if any-->
        </div>
        <div class="mb-3">
            <label asp-for="DisplayOrder"></label>
            <input asp-for="DisplayOrder" class="form-control" />
            <span asp-validation-for="DisplayOrder" class="text-danger"></span>

        </div>
        <button typeof="submit" class="btn btn-primary" style="width:150x">create</button>
        <a asp-controller="CategoryController1" asp-action="Index" class="btn btn-secondary" style="width:150px">
            Back to list
        </a>
    </div>
</form>

@section scripts{
    @{
    <partial name="_validationScriptsPartial" />
}
}
